html,
body {
    height: 100%;
    width: 100%;
}

#message {
    background-color: hsl(340, 82%, 59%);
    background-image: linear-gradient(to top, hsl(340, 82%, 59%), hsl(340, 90%, 70%));
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-name {
    font-family: 'Pacifico', cursive;
    font-size: 10em;
    color: white;
    margin: 0;
}
